@model TaxEstimator.Areas.Admin.ViewModels.TaxRebatesViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="shadow bg-light">
    <h1 class="display-6 p-2 bg-white text-center">Add new Rebates</h1>
    <div class="p-2 overflow-auto">
        <a class="text-primary text-decoration-none float-start" asp-action="Index">Go Back</a>
        <a class="btn btn-success float-end" asp-action="ExtractFromSARS">Auto Fill With SARS Data</a>
    </div>
    <form asp-action="Create" method="post">
        <table class="table">
            <thead class="bg-theme">
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.Rebate.Year)</th>
                    <th>@Html.DisplayNameFor(m=>m.Rebate.Primary)</th>
                    <th>@Html.DisplayNameFor(m=>m.Rebate.Secondary)</th>
                    <th>@Html.DisplayNameFor(m=>m.Rebate.Tertiary)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(m=>m.RebateList)

                <tr>
                    <td>
                        <input asp-for="@Model.Rebate.Year" class="form-control" value="0" />
                        <span asp-validation-for="@Model.Rebate.Year" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Rebate.Primary" class="form-control" value="0" />
                        <span asp-validation-for="@Model.Rebate.Primary" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Rebate.Secondary" class="form-control" value="0" />
                        <span asp-validation-for="@Model.Rebate.Secondary" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Rebate.Tertiary" class="form-control" value="0" />
                        <span asp-validation-for="@Model.Rebate.Tertiary" class="text-danger"></span>
                    </td>
                    <td>
                       
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Apply Changes</button>
        </div>
    </form>
</div>




