@model TaxEstimator.Areas.Admin.ViewModels.TaxBracketsViewModel
<tr>
    <td>
        <input asp-for="@Model.TaxBracket.Year" class="form-control" value="0" />
    </td>
    <td>
        <input asp-for="@Model.TaxBracket.From" class="form-control" value="0" />
    </td>
    <td>
        <input asp-for="@Model.TaxBracket.To" class="form-control" value="0" />
    </td>
    <td>
        <input asp-for="@Model.TaxBracket.Base" class="form-control" value="0" />
    </td>
    <td>
        <input asp-for="@Model.TaxBracket.Margin" class="form-control" value="0" />
    </td>
    <td></td>
</tr>